body {
  font-family: Arial, sans-serif;
  background-color: #EAD196; /* Cream background */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff; /* White background for container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #a31f34;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  background-color: #fff; /* White background for cards */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 48%;
}

.card h2 {
  color: #5a5a5a;
  margin-top: 0;
}

.card p {
  text-align: justify;
  text-justify: inter-word;
}

.reach-out {
  background-color: #fff; /* White background for reach-out section */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.reach-out h2 {
  color: #5a5a5a;
  margin-top: 0;
}

.reach-out p {
  text-align: justify;
  text-justify: inter-word;
}

p {
  color: #333;
  line-height: 1.6;
  margin: 10px 0;
}
