/*====================
	1. General code
==========================*/

body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    padding: 0px !important;
    overflow-x: hidden;
    color: #555555;
}

/*----------------------
	1.1. Typography
------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111111;
    font-weight: 900;
    margin: 0 auto 15px;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 20px;
    line-height: 32px;
}
h6 {
    font-size: 18px;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    font-weight: 300;
}
p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 15px;
}
a {
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
ul,
ol {
    margin: 0 auto 20px;
}
ul li,
ol li {
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto 10px;
}
ul li i,
ol li i {
    margin: 0 12px 0 0;
}
ul.list_style_none,
ol.list_style_none {
    list-style: none;
}
ul.list-with-icon {
    padding-left: 10px;
    margin-bottom: 30px;
}
ul.list-with-icon li {
    line-height: 20px;
    margin-bottom: 15px;
    padding-left: 23px;
    position: relative;
    list-style: none;
}
ul.list-with-icon li i {
    left: 0;
    position: absolute;
    top: 4px;
}

blockquote {
    background: #f5f5f5;
}
.white-text,
.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text h6,
.white-text p {
    color: #fff;
}
.uppercase {
    text-transform: uppercase;
}
.underline {
    text-decoration: underline;
}
.divider {
    border-bottom: 1px solid #dcd9d9;
    clear: both;
    margin: 40px auto;
}

/*-----------------
	1.2. Button
-------------------------*/

.btn {
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    line-height: 30px;
    padding: 7px 36px;
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
}
.btn .fa {
    font-size: 20px;
    margin-left: 5px;
    vertical-align: middle;
}
.btn.btn-lg {
    font-size: 28px;
    line-height: 35px;
    padding: 25px 83px;
}
.btn.btn-lg:hover {
    background: #ffcece;
}
.btn:hover,
.btn:focus {
    color: #ffffff;
    outline: none;
}
.btn-link {
    font-weight: 800;
}
.btn.outline {
    background: none;
    border-style: solid;
    border-width: 1px;
}
.btn.outline:hover,
.btn.outline:focus {
    color: #fff;
}
.btn.btn-xs {
    font-size: 12px;
    padding: 0px 25px;
}
.btn.btn-xs .fa {
    margin: 0 5px;
    font-size: 14px;
}

.angle_arrow {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    height: 22px;
    line-height: 20px;
    margin-left: 4px;
    text-align: center;
    vertical-align: text-top;
    width: 22px;
}
.btn .angle_arrow .fa {
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    vertical-align: middle;
}
.btn.outline.active-btn {
    border-color: #089901;
    color: #089901;
}
.btn.outline.active-btn:hover {
    background: #089901;
    color: #fff;
}

a,
.btn-link,
.car-title-m h6 a:hover,
.featured-car-content > h6 a:hover,
.footer-top ul li a:hover,
.get-intouch a:hover,
.blog-content h5 a:hover,
.blog-info-box li a:hover,
.control-label span,
.angle_arrow i,
.contact_detail li a:hover,
.team_more_info p a:hover,
.error_text_m h2,
.search_btn,
.popular_post_title a:hover,
.categories_list ul li a:hover,
.categories_list ul li a:hover:after,
.article_meta ul li a:hover,
.articale_header h2 a:hover,
.btn.outline,
.share_article ul li,
.contact-info a:hover,
.social-follow a:hover,
.radio input[type="radio"]:checked + label:before,
.checkbox input[type="checkbox"]:checked + label:before,
.product-listing-content h5 a:hover,
.pricing_info .price,
.text-primary,
.footer_widget ul li a:hover,
.header_search button:hover,
.header_widgets a:hover,
.navbar-default .navbar-nav > li.active a,
.navbar-default .navbar-nav > li:focus a,
.navbar-default .navbar-nav > li:hover a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.my_vehicles_list ul.vehicle_listing li a:hover,
.dealer_contact_info a:hover,
.widget_heading i,
.dealers_listing .dealer_info h5 a:hover,
.main_features ul li p,
.listing_detail_head .price_info p,
.listing_other_info button:hover,
.compare_info table td i,
.compare_info table th i,
#accessories i,
.price,
.inventory_info_list ul li i,
.services_info h4 a:hover,
.about_info .icon_box,
.header_style2 .navbar-nav > li > .dropdown-menu a:hover,
.header_style2 .navbar-default .navbar-nav li:hover .dropdown-menu li a:hover,
.header_style2 .dropdown-menu > .active > a,
.header_style2 .dropdown-menu > .active > a:focus,
.header_style2 .dropdown-menu > .active > a:hover,
.header_style2 .dropdown-menu > li > a:focus,

.header_style2 .dropdown-menu > li > a:hover {
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    color: #7D0A0A;
    fill: #7D0A0A;
}

a:hover,
a:focus,
.btn-link:hover {
    color: #7D0A0A;
    fill: #7D0A0A;
}

.btn,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.recent-tab .nav.nav-tabs li.active a,
.fun-facts-m,
.featured-icon,
.owl-pagination .owl-page.active,
#testimonial-slider .owl-pagination .owl-page.active,
.social-follow.footer-social a:hover,
.back-top a,
.team_more_info ul li a:hover,
.tag_list ul li a:hover,
.pagination ul li.current,
.pagination ul li:hover,
.btn.outline:hover,
.btn.outline:focus,
.share_article ul li:hover,
.nav-tabs > li a:hover,
.nav-tabs > li a:focus,
.label-icon,
.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.label_icon,
.navbar-nav > li > .dropdown-menu,
.add_compare .checkbox,
.search_other,
.vs,
.td_divider,
.search_other_inventory,
#other_info,
.main_bg,
.slider .slider-handle,
.slider .slider-selection {
    background: #fa2837 none repeat scroll 0 0;
    fill: #fa2837;
}
.btn:hover,
.btn:focus,
.search_other:hover,
#other_info:hover {
    background-color: #c60210;
    fill: #fb4d59;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.social-follow.footer-social a:hover,
.page-header,
.tag_list ul li a:hover,
.btn.outline,
.share_article ul li,
blockquote,
.social-follow a:hover,
.radio label:before,
.navbar-default .navbar-toggle,
.owl-buttons div,
.about_info .icon_box {
    border-color: #fa2837;
}

.recent-tab .nav.nav-tabs li.active::after {
    border-color: #fa2837 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.td_divider:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fa2837;
}

.navbar-nav > li > .dropdown-menu li {
    border-bottom: 1px solid #e21625;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #fa2837;
    }
}
