@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i");

.width-car {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cars-container {
    width: 100%;
    background-image: url("/images/logo.svg");
    /* opacity 60% background */
    background-color: #f3edc8;
    background-blend-mode: overlay;
    background-size: 100%;
    background-position: center; /* Mengatur posisi gambar latar belakang ke tengah */
    background-size: contain; /* Mengatur ukuran gambar agar sesuai tapi tetap proporsional */
    background-repeat: no-repeat; /* Mencegah gambar latar belakang untuk berulang */
    height: 700px; /* Menyesuaikan tinggi sesuai dengan konten */
    overflow-y: auto; /* Menambahkan bilah gulir vertikal jika konten melebihi tinggi */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 200px;
    column-gap: 50px;
    padding-bottom: 250px;
    border-radius: 20px;
}

body {
    background-color: #f3edc8 !important;
}

.searching-cars {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: fit-content;
    z-index: 2;
    position: relative;
}

.search-box select {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.search-box select,
.search-box input {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.search-box button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #a31f34;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #831625;
}

.shell {
    padding: 40px 0;
    width: 200px;
    justify-content: center;
}
.wsk-cp-product {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
}
.wsk-cp-img {
    position: absolute;
    top: 5px;
    width: 100%;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}
.wsk-cp-img img {
    width: 100%;
    max-height: 200px;
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
}
.wsk-cp-product:hover .wsk-cp-img {
    top: -40px;
}
.wsk-cp-product:hover .wsk-cp-img img {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.wsk-cp-text {
    padding-top: 80%;
}
.wsk-cp-text .category {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 35px;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > * {
    position: absolute;
    transform: translate(-50%, -50%);
}
.wsk-cp-text .category > span {
    padding: 12px 30px;
    border: 1px solid #313131;
    background: #212121;
    color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 27px;
    transition: all 0.05s ease-in-out;
}
.wsk-cp-product:hover .wsk-cp-text .category > span {
    border-color: #ddd;
    box-shadow: none;
    padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category {
    margin-top: 0px;
}
.wsk-cp-text .title-product {
    text-align: center;
    padding-bottom: 10px;
}
.wsk-cp-text .title-product h3 {
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.wsk-cp-text .description-prod p {
    margin: 0;
}
/* Truncate */
.wsk-cp-text .description-prod {
    text-align: center;
    width: 100%;
    height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
}
.card-footer {
    padding: 10px 0 5px;
    border-top: 1px solid #ddd;
}
.card-footer:after,
.card-footer:before {
    content: "";
    display: table;
}
.card-footer:after {
    clear: both;
}

.card-footer .wcf-left {
    float: left;
    width: 100%;
    text-align: center;
}

.price {
    font-size: 18px;
    font-weight: bold;
}
.wsk-btn {
    display: inline-block;
    color: #212121;
    text-align: center;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    border-color: #ff9800;
    background: #ff9800;
    padding: 12px 30px;
    border-radius: 27px;
    margin: 0 5px;
}
.wsk-btn:hover,
.wsk-btn:focus,
.wsk-btn:active {
    text-decoration: none;
    color: #fff;
}
.red {
    color: #f44336;
    font-size: 22px;
    display: inline-block;
    margin: 0 5px;
}
@media screen and (max-width: 991px) {
    .wsk-cp-product {
        margin: 40px auto;
    }
    .wsk-cp-product .wsk-cp-img {
        top: -40px;
    }
    .wsk-cp-product .wsk-cp-img img {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
            0 15px 12px rgba(0, 0, 0, 0.22);
    }
    .wsk-cp-product .wsk-cp-text .category > span {
        border-color: #ddd;
        box-shadow: none;
        padding: 11px 28px;
    }
    .wsk-cp-product .wsk-cp-text .category {
        margin-top: 0px;
    }
}


/* Modal */
.judul-modal h5{
    font-size: 20px;
    font-weight: bold;
    
}

.isi-modal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.modal-bawah{
    width: 100%;
    justify-content: space-between;
}

.modal-bawah button{
    width: 40%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
