.my-account-page-profile-page-personal-info,
.my-account-page-profile-page-personal-info * {
  box-sizing: border-box;
}
.my-account-page-profile-page-personal-info {
  background: #ead196;
  width: 1000vw;
  height: 1000vh;
}
.boxSamping {
  background: #f3edc8;
  border-radius: 23px;
  width: 425px;
  height: 934px;
  position: absolute;
  left: 36px;
  top: 186px;
}
.boxTengah {
  background: #f3edc8;
  border-radius: 23px;
  width: 1383px;
  height: 934px;
  position: absolute;
  left: 490px;
  top: 186px;
}
