.banner-section {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #7d0a0a;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; /* Sesuaikan nilai ini untuk transparansi yang diinginkan */
    background-color: rgba(213, 163, 45);
}

.banner-section > * {
    position: relative;
    z-index: 1;
}


.banner-section h1 {
    font-size: 30px;
    color: #f3edc8;

}

.banner-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.search-box select,
.search-box input {
    justify-content: center;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-box button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #a31f34;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #831625;
}

.find-us{
    padding: 50px;
    width: 100%;
    background-color: #ead196;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color: white;
}