.container-order {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 150px;
    background-color: #ead196;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.head-title {
    width: 100%;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    background-color: #ffa07a;
    border-radius: 20px;
    text-align: center;
}

.table-data {
    height: 350px;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.button-myorder {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-myorder button {
    padding: 5px;
    width: fit-content;
    height: 40px;
    background-color: #ffa07a;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.table-data table {
    
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
}

.table-data table th,
.table-data table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-data table th {
    background-color: #ffa07a;
    position: sticky;
    top: 0; 
    z-index: 1;
}
